{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>papu</title>
    <link rel="stylesheet" href="{% static 'paint_app/style.css' %}">
</head>

<body>

    {% csrf_token %}

    <h2>PyPaint++</h2>

    <div class="container">
        <div class="controls">
            <button data-tool="pincel_trazo" class="tool-button active">Pincel</button>
            <button data-tool="borrador_trazo" class="tool-button">Borrador</button>
            <button data-tool="bote" class="tool-button">Bote de Pintura</button>
            <button data-tool="linea" class="tool-button">Línea</button>
            <button data-tool="rectangulo" class="tool-button">Rectángulo</button>
            <button data-tool="mostrar_nuevo_lienzo" class="tool-button">Nuevo Lienzo</button>

            <div class="tool-options">
                <!-- Opciones generales de herramientas -->
                <div id="generalOptions">
                    <div class="option-group-container">
                        <div class="option-group">
                            <label for="colorPicker">Color:</label>
                            <div class="color-picker-wrapper">
                                <input type="color" id="colorPicker" value="#000000">
                            </div>
                        </div>
                        <div class="option-group">
                            <label for="sizeInput">Grosor:</label>
                            <input type="number" id="sizeInput" value="5" min="1" max="100"> <span
                                class="unit">px</span>
                        </div>
                    </div>
                </div>

                <!-- Opciones específicas de herramienta "Rectángulo" -->
                <div id="rectanguloOptions" class="specific-options" style="display: none;">
                    <div class="option-line">
                        <label for="fillCheckbox">
                            <input type="checkbox" id="fillCheckbox"> Rellenar
                        </label>
                    </div>
                    <div id="fillColorDiv" class="option-line" style="display: none;">
                        <label for="fillColorPicker">Color Relleno:</label>
                        <div class="color-picker-wrapper">
                            <input type="color" id="fillColorPicker" value="#FFFFFF">
                        </div>
                    </div>
                </div>

                <div id="nuevoOptions" class="specific-options" style="display: none;">
                    <div class="option-line">
                        <label for="newColorInput">Color Fondo:</label>
                        <div class="color-picker-wrapper">
                            <input type="color" id="newColorInput" value="#FFFFFF">
                        </div>
                    </div>
                    <div class="option-line">
                        <button id="createCanvasBtn">Crear Lienzo</button>
                    </div>
                </div>

                <div class="action-buttons">
                    <button id="undoButton" class="tool-button action-button" disabled>Deshacer</button>
                    <button id="redoButton" class="tool-button action-button" disabled>Rehacer</button>
                    <button id="saveDrawingBtn" class="tool-button action-button">Guardar Dibujo (PNG)</button>
                </div>

            </div>
        </div>

        <div class="canvas-area">
            <canvas id="drawingCanvas" width="800" height="600"></canvas>
        </div>

    </div>

    <div id="statusMessage" class="status-message"></div>

    <script src="{% static 'paint_app/paint.js' %}"></script>
</body>

</html>